*{
    padding: 0;
    margin: 0;
}
#page-down{
    position: fixed;
    width: 84%;
    margin-left: 260px;
    margin-top: 60px;
    height: 1px;
    z-index: 444444;
    background-color:gainsboro;
}
#page-up{
    position: fixed;
    margin-top: 0px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    width: 100%;
    height: 60px;
    background-color: white;
    cursor: pointer;
}
#page-up #name{
    width: 16%;
    float: left;
    height: 60px;
    font-size: 26px;
}
#page-up #name p{
    position: fixed;
    margin-left: 10px;
    margin-top: 12px;
}
#page-up #up-more{
    position: fixed;
    min-width: 1500px;
    top: 0px;
    left: 260px;
    width: 83%;

}
#page-up #up-more #text-title{
    width: 55%;
    margin-left: 0px;
    height: 40px;
    color: gainsboro;
}

#page-up #up-more #text-title #title{
    padding-left: 30px;
    margin-top: 20px;
    font-size: 16px;
}

#page-up #up-more #text-title #title  li{
    float: left;
    margin: 0 5px;
    list-style: none;
    width: 80px;
}
#page-up #up-more #other{
    z-index: 66666666;
    position: absolute;
    top: 0px;
    left:45%;
    width: 48%;
    height: 80px;
}
 #page-up #up-more #other div{
    width: 200px;
     height: 60px;
    display: inline-block;
    cursor: pointer;
}
 #page-up #up-more  #other #username .welcome{
    margin-top: 20px;
}
 #page-up #up-more #other #data #time{
    position: relative;
   top: 3px;
}
 #page-up #up-more #other #username p{
   vertical-align:middle;
}
 #page-up #up-more #other #tools img{
    padding-left: 60px;
    margin: 0 -5px;
}


/*侧边栏*/
           #slider{
               padding: 0;
               position: fixed;
              margin-top: 60px;
              width: 260px;
            height: 100%;
            background-color: #272a38;
             cursor: pointer;
        } 
        #slider  div{
              background-color: #272a38;
            height: 60px;
            color: white;
            margin: 0px 0px;
            padding-left: 20px;
        }
        #slider .personslist:hover{
            background-color:rgb(48, 65, 86) ;
        }
        #slider  .personlist:hover{
            background-color:rgb(48, 65, 86);
        }
        #slider.goodslist:hover{
            background-color:rgb(48, 65, 86) ;
        }
        #slider  .shoplist:hover{
            background-color:rgb(48, 65, 86) ;
        }
        #slider  .managerlist:hover{
            background-color:rgb(48, 65, 86) ;
        }
        #slider div ul li{
            list-style: none;
            font-size: 18px;
            line-height: 40px;
        }
         #slider #persons-list{
             margin-left: 70px;
             display: none;
             height: 0px;
         }
          #slider  #manager-list{
             margin-left: 70px;
        
             display: none;
             height: 0px;
         }
          #slider  #shop-list{
             margin-left: 70px;

             display: none;
             height: 0px;
         }
           #slider  #person-list{
             margin-left: 70px;
            
             display: none;
             height: 0px;
         }
           #slider  #goods-list{
             margin-left: 70px;

             display: none;
             height: 0px;
         }
         #slider div p{
            padding-top: 20px;
            margin-left: 0px;
           color:#fff;
           font-size:18px;
        }
        
         #slider div img{
            position: relative;
            top: 4px;
        } 

/*首页*/
#firstpage-contain{
    background-color: gainsboro;
    position: fixed;
    margin-top: 80px;
    margin-left: 16%;
    width: 84%;
    height: 100%;
    z-index: 444444;
    background-color:white;
    cursor: pointer;
}
#firstpage-contain h1{
    position: absolute;
    top: 30%;
    left: 40%;
}

/*个人信息展示*/
#person-hidden{
    position: fixed;
    margin-top: 80px;
    margin-left: 16%;
    width: 84%;
    height: 100%;
    z-index: 444444;
    background-color:white;
    cursor: pointer;
}
#person-hidden #person-message{
    box-shadow: 0 5px 10px 5px rgb(22 81 163 / 13%);
    margin-top: 40px;
    margin-left: 40px;
    width: 400px;
    height: 480px;
    background-color: white;
}
#person-hidden #person-message p{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}
#person-hidden #person-message ul li{
    height: 20px;
    margin: 20px auto;
}

#person-hidden #person-message ul {
    margin-left: 20px;
}
#person-hidden #person-message ul div{
    width: 350px;
    height: 1px;
    background-color: gainsboro;
    position: relative;
    margin-top: 5px;
}
#person-hidden #basic-message{
    box-shadow: 0 5px 10px 5px rgb(22 81 163 / 13%);
    margin-top: -480px;
    margin-left: 500px;
    width: 740px;
    height: 440px;
    background-color: white;
}
#person-hidden #basic-message #all{
    position: absolute;
    margin-top: 0px;
}
#person-hidden #basic-message p{
     float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}
#person-hidden #basic-message #basictext-message{
    margin-top: 20px;
    margin-left: 40px;
}
#person-hidden #basic-message #basictext-message p{
   width: 500px;
   height: 50px;
   margin-left: 40px;
   word-wrap: break-word;
   word-break: break-all;
   font-size: 20px;
}
#person-hidden #basic-message #goout-hidden p{
     width: 500px;
   height: 50px;
   margin-left: 80px;
   word-wrap: break-word;
   word-break: break-all;
   font-size: 20px;
}


#person-hidden #basic-message  #goout-hidden .input input{
    height: 25px;
    width: 350px;
    border: 1px solid gainsboro;
    outline: none;
    text-indent:5px;
}
#person-hidden #basic-message #goout-hidden .btn button{
    height: 35px;
    width: 60px;
    margin: 20px 40px;
}


#person-hidden #basic-message #basictext-message  .input input{
    height: 25px;
    width: 350px;
    border: 1px solid gainsboro;
    outline: none;
    text-indent:5px;
}
#person-hidden #basic-message #basictext-message .btn button{
    height: 35px;
    width: 60px;
    margin: 20px 40px;
}


#person-hidden #basic-message #basic-text #textmessage{
    margin-top:60px;
    width: 300px;
    height: 50px;
    float: left;
    text-align: center;
    font-size: 20px;
}
#person-hidden #basic-message #basic-text #textpwd{
    margin-top:60px;
    width: 300px;
    height: 50px;
    float: left;
    text-align: center;
    font-size: 20px;
}
#person-hidden #basic-message #basic-text #textmessage div{
     position: relative;
    top: 15px;
    left: -76px;
    display: inline-block;
    height: 2px;
    width: 60px;
    background-color: gainsboro;
}
#person-hidden #basic-message #basic-text #textpwd div{
     position: relative;
    top: 15px;
    left: -76px;
    display: inline-block;
    height: 2px;
    width: 60px;
    background-color: gainsboro;
}
/*退出系统的展示*/
#goout-contain{
    position: fixed;
   margin-top: 250px;
   margin-left: 49%;
    width: 300px;
    height: 125px;
    z-index: 444444;
    background-color: gainsboro;
    display: none;
}

#goout-contain .btn button{
    margin: 20px 20px;
    width: 60px;
    height: 30px;
}
#goout-contain .btn {
    margin-bottom: -20px;
}
